{% extends 'base/../base/base.html' %}
{% load static %}
{% block title %} Home {% endblock %}
{% block user_context %}
{% if user.is_authenticated %}
    {% if player_nickname %}
        <!-- Если пользователь залогинен через Steam, показываем его ник -->
        <a href="{%   url 'player:player' account_id=steamid3 %}"> {{ player_nickname }} </a>
    {% else %}
        <a href="{% url 'social:begin' 'steam' %}">Войти через Steam</a>
    {% endif %}
{% else %}
    <a href="{% url 'social:begin' 'steam' %}">Войти через Steam</a>
{% endif %}
{% endblock %}
